<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.patent.mapper.PHandInMapper">

    <select id="PHandInList" resultType="com.example.patent.entity.PHandIn">
        select
        id as 'id',
        hand_in_name as 'handInName',
        hand_in_inventor as 'handInInventor',
        hand_in_no as 'handInNo',
        hand_in_schedule as 'handInSchedule',
        hand_in_auditor as 'handInAuditor',
        hand_in_audit_information as 'handInAuditInformation',
        hand_in_audit_status as 'handInAuditStatus',
        hand_in_time as 'handInTime',
        hand_in_importance_level as 'handInImportanceLevel',
        hand_in_applicant as 'handInApplicant',
        hand_in_frequency as 'handInFrequency',
        hand_in_process as 'handInProcess',
        p_t_s_id as 'pTSId',
        p_t_s_end_id as 'pTSEndId',
        supervisor_opinion as 'supervisorOpinion',
        technical_person_opinion as 'technicalPersonOpinion',
        dept_id as 'deptId'
        from p_hand_in
        <where>
            1=1
            <if test="handInName != null and handInName != '' ">
                and hand_in_name like concat('%', #{handInName} ,'%')
            </if>

            <if test="handInInventor != null and handInInventor != '' ">
                and hand_in_inventor like concat('%', #{handInInventor} ,'%')
            </if>

            <if test="handInApplicant != 0 ">
                and hand_in_applicant like concat('%', #{handInApplicant} ,'%')
            </if>

            <if test="deptId != 0 ">
                and dept_id like concat('%', #{deptId} ,'%')
            </if>

            <if test="handInAuditStatus != null and handInAuditStatus != '' ">
                and hand_in_inventor = #{handInAuditStatus}
            </if>

        </where>

    </select>

    <insert id="addHandIn">
        insert into p_hand_in
        (hand_in_name, hand_in_inventor, hand_in_no,hand_in_audit_status, hand_in_time,
        hand_in_applicant, hand_in_frequency, hand_in_process,dept_id)
        values
        (#{handInName},#{handInInventor},#{handInNo},#{handInAuditStatus},#{handInTime},
        #{handInApplicant},#{handInFrequency},#{handInProcess},#{deptId})
    </insert>

</mapper>