<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.patent.mapper.PPaymentListMapper">

    <select id="findAll" resultType="com.example.patent.entity.PPaymentList">
        select
        id as 'id',
        payment_createtime as 'paymentCreatetime',
        payment_expiration_date as 'paymentExpirationDate',
        payment_no as 'paymentNo',
        hand_in_id as 'handInId',
        payment_renewals as 'paymentRenewals'
        from p_payment_list
    </select>



</mapper>